<a href="https://colab.research.google.com/github/adikusuma14/forecasting_visitor/blob/main/forecasting_visitor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Import Nescesarry Library

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#2. Read Data Source

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/datasets/forecasting_visitor.csv')
df.sample(10)
df_index = df.set_index('date')

In [ ]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6351 entries, 2021-07-07 to 2022-01-27
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   service_id  6351 non-null   int64
 1   hour        6351 non-null   int64
 2   cluster_id  6351 non-null   int64
 3   visitor     6351 non-null   int64
dtypes: int64(4)
memory usage: 248.1+ KB

In [ ]:
# df_index['year'] = pd.DatetimeIndex(df['date']).year
# df_index['month'] = pd.DatetimeIndex(df['date']).month
# df_index['date'] = df['date'].astype('datetime64[ns]')
print(df_index.sample(10))
print(df_index.info())
print(df_index.shape)

            service_id  hour  cluster_id  visitor
date
2022-01-07         157    10          59        1
2021-10-13         179    13         219        1
2022-06-10         156    11          53        1
2021-10-29         158     8          64        5
2021-12-09         158    13          69        1
2021-12-01         156     8          50        3
2022-04-22         178    11         223        1
2021-10-28         179     9         214        5
2022-05-24         174    10         178        1
2022-04-28         157    11          60        1
<class 'pandas.core.frame.DataFrame'>
Index: 6351 entries, 2021-07-07 to 2022-01-27
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   service_id  6351 non-null   int64
 1   hour        6351 non-null   int64
 2   cluster_id  6351 non-null   int64
 3   visitor     6351 non-null   int64
dtypes: int64(4)
memory usage: 506.1+ KB
None
(6351, 4)

In [96]:
df_index.corr()

            service_id      hour  cluster_id   visitor
service_id    1.000000 -0.021211   -0.045468  0.011737
hour         -0.021211  1.000000    0.043969 -0.113479
cluster_id   -0.045468  0.043969    1.000000 -0.445981
visitor       0.011737 -0.113479   -0.445981  1.000000